nav {
    position: fixed;
    /* margin-left: 35%;
    margin-right: 35%; */
    width: 100%;
    text-align: center;    
    background-color: white;
    font-size: 25;
    font-weight: bold;
    font-family: "Montserrat", Tahoma, Verdana, Segoe, sans-serif;
}

a{
    color: tomato;
    text-decoration: inherit;
    margin-left: 20px;
}
.asd{
    color: aqua;
}

BODY {
    background: url(../img/main.png) no-repeat center; /* Параметры фона */
    /* text-align: center; */
}